<div class="col-lg-12">
  <form [formGroup]="form" class="form-group">

    <div class="panel-group col-md-4 col-sm-6">
      <div class="row">
        <input-text-control [formControl]="form.get('inputText')"
                            [control]="form.controls['inputText']"></input-text-control>
      </div>

      <form-control-status-reporter [control]="form.controls['inputText']"
                                    [controlName]="'inputText'">
      </form-control-status-reporter>

      <button class="btn btn-primary" (click)="setInputTextValue()">Set InputText value from parent</button>
    </div>

    <div class="panel-group col-md-4 col-sm-6">
      <div class="row">
        <select-control [formControl]="form.get('select')"
                        [control]="form.get('select')"
                        [values]="selectInputs"></select-control>
      </div>

      <form-control-status-reporter [control]="form.controls['select']"
                                    [controlName]="'select'">
      </form-control-status-reporter>

      <button class="btn btn-primary" (click)="setSelectValue()">Set select value from parent</button>
    </div>

    <div class="panel-group col-md-4 col-sm-6">
      <div class="row">
        <id-generator [formControl]="form.get('id')"
                      [control]="form.get('id')"></id-generator>
      </div>

      <form-control-status-reporter [control]="form.controls['id']"
                                    [controlName]="'id'">
      </form-control-status-reporter>
    </div>

    <div class="col-md-12 form-group">
      <photo-card formArrayName="photos"
                  [photosArray]="form.get('photos')"></photo-card>

      <form-control-status-reporter [control]="form.controls['photos']"
                                    [controlName]="'photos'">
      </form-control-status-reporter>
    </div>

  </form>



</div>
